---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<script>
  import { toggleClass } from "@/utils";
  let headerEl: HTMLElement;
  let menuButtonEl: HTMLButtonElement;
  let menuOpen = false;

  function toggleMobileMenu() {
    toggleClass(headerEl, "menu-open");
    menuOpen = !menuOpen;
    menuButtonEl.setAttribute("aria-expanded", menuOpen.toString());
  }

  document.addEventListener("DOMContentLoaded", () => {
    headerEl = document.getElementById("main-header")!;
    menuButtonEl = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
    menuButtonEl.addEventListener("click", toggleMobileMenu);
  });

  document.addEventListener("astro:after-swap", () => {
    if (menuOpen) toggleMobileMenu();
  });
</script>

<header id="main-header" class="group relative mb-28 flex items-center sm:ps-[4.5rem]" transition:persist>
  <div class="flex sm:flex-col">
    <a
      href="/"
      class="group inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
      aria-current={url.pathname === "/" ? "page" : false}
    >
      <svg
        class="-bottom-7 me-3 h-16 w-16 fill-current group-hover:fill-accent sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-16 sm:w-16"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="150.000000pt"
        height="150.000000pt"
        viewBox="0 0 300.000000 300.000000"
        preserveAspectRatio="xMidYMid meet"
      >
        <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" stroke="none">
          <path
            d="M1344 2553 c1 -16 -9 -17 -97 -14 -97 3 -99 3 -92 -18 6 -20 3 -21 -95 -21 -97 0 -102 -1 -97 -20 5 -19 0 -20 -94 -20 -92 0 -99 -1 -99 -20 0 -18 -5 -19 -60 -13 -57 5 -60 5 -60 -16 0 -19 -5 -21 -55 -21 -48 0 -55 2 -55 20 0 19 -7 20 -155 20 -148 0 -155 -1 -155 -20 0 -16 -7 -20 -35 -20 l-35 0 0 -55 c0 -52 -1 -55 -25 -55 -16 0 -25 -6 -25 -15 0 -8 -9 -15 -21 -15 -16 0 -19 -4 -14 -21 6 -18 4 -20 -14 -14 -19 6 -21 2 -21 -34 0 -31 -3 -39 -14 -35 -12 5 -15 -14 -18 -105 -3 -100 -1 -111 15 -111 11 0 17 -8 17 -21 0 -17 5 -20 21 -16 17 5 20 2 16 -14 -4 -14 0 -19 14 -19 10 0 19 -7 19 -15 0 -9 9 -15 25 -15 23 0 25 -4 25 -40 0 -34 3 -40 21 -40 15 0 19 -5 15 -15 -4 -10 1 -15 14 -15 13 0 20 -7 20 -20 0 -13 7 -20 20 -20 19 0 20 -7 20 -91 0 -86 -1 -90 -20 -84 -18 6 -20 2 -20 -53 0 -52 -2 -60 -18 -56 -15 5 -17 -6 -17 -120 0 -113 2 -126 18 -126 15 0 17 -10 17 -74 0 -69 1 -74 20 -69 16 4 20 0 20 -17 0 -16 4 -20 15 -16 10 4 15 -1 15 -14 0 -15 7 -20 25 -20 17 0 25 -5 25 -18 0 -15 9 -17 75 -14 l76 4 -7 -26 c-6 -24 -4 -26 25 -26 23 0 29 -4 25 -15 -4 -10 0 -15 15 -15 14 0 21 -6 21 -19 0 -12 7 -18 18 -17 11 1 16 -5 14 -18 -3 -16 2 -18 34 -14 29 3 38 1 42 -14 3 -13 14 -18 43 -18 35 0 39 -3 39 -24 0 -24 2 -24 55 -19 51 5 55 4 55 -16 0 -18 6 -21 40 -21 29 0 40 -4 40 -15 0 -8 9 -15 20 -15 13 0 20 -7 20 -20 0 -18 4 -20 35 -14 31 5 35 4 35 -15 0 -20 5 -21 95 -21 88 0 95 -1 95 -20 0 -20 7 -20 385 -20 378 0 385 0 385 20 0 18 7 20 80 20 71 0 81 2 78 18 -3 15 5 17 60 15 l63 -2 -7 35 -6 34 41 0 c35 0 41 3 41 21 0 18 5 20 40 16 37 -4 40 -2 40 19 0 21 5 24 39 24 31 0 38 4 37 18 -1 11 5 16 17 14 12 -2 17 4 17 18 0 19 5 21 43 19 35 -3 42 0 39 14 -2 14 5 17 39 17 l41 0 -6 36 c-6 31 -4 36 13 41 12 3 21 12 21 19 0 8 9 14 20 14 11 0 20 7 20 15 0 9 9 15 25 15 19 0 25 5 23 18 -2 11 3 17 15 16 14 -2 17 6 17 43 0 40 2 44 20 38 16 -5 20 -2 20 14 0 14 6 21 19 21 15 0 19 7 17 33 -1 25 3 31 17 29 15 -3 17 8 17 108 0 100 -2 111 -17 108 -16 -3 -18 9 -18 125 0 114 -2 127 -17 127 -16 0 -18 12 -18 120 0 113 -1 120 -20 120 -19 0 -20 7 -20 180 0 172 -1 180 -20 180 -13 0 -18 5 -14 15 5 11 -1 15 -20 15 -24 0 -26 4 -26 40 0 33 -3 40 -20 40 -11 0 -20 7 -20 15 0 9 -9 15 -21 15 -17 0 -20 -4 -15 -22 3 -13 6 -28 6 -35 0 -7 7 -10 15 -7 12 5 15 -3 15 -39 0 -41 2 -45 22 -39 17 4 20 2 15 -11 -5 -14 0 -17 24 -17 25 0 30 -4 29 -22 -1 -13 -2 -94 -1 -180 1 -133 3 -158 16 -158 12 0 15 -18 15 -105 0 -83 3 -105 14 -105 21 0 26 -33 26 -167 0 -110 2 -123 18 -123 14 0 17 -9 17 -50 0 -45 -2 -50 -22 -50 -16 0 -21 4 -17 15 5 13 -7 15 -75 15 l-81 0 0 49 c0 34 -4 51 -15 55 -12 4 -15 -5 -15 -48 l0 -53 -417 0 c-596 -1 -583 0 -583 -18 0 -11 -12 -15 -44 -15 -39 0 -44 -2 -39 -20 5 -18 0 -20 -36 -20 -35 0 -41 -3 -41 -21 0 -11 -4 -17 -10 -14 -5 3 -32 3 -59 -1 -36 -5 -48 -10 -44 -20 4 -12 -28 -14 -191 -14 -186 0 -196 -1 -196 -19 0 -14 -5 -18 -21 -14 -16 5 -20 2 -17 -13 3 -17 -5 -19 -92 -21 -90 -1 -95 -2 -93 -22 3 -20 -2 -21 -112 -21 -96 0 -115 -3 -115 -15 0 -12 -16 -15 -80 -15 -64 0 -80 3 -80 15 0 10 -11 15 -35 15 -34 0 -35 1 -35 41 0 36 -2 40 -20 34 -16 -5 -20 -2 -20 14 0 16 -6 21 -25 21 -16 0 -25 6 -25 15 0 10 -11 15 -35 15 l-35 0 0 90 c0 83 1 90 20 90 18 0 20 7 20 55 0 42 3 55 15 55 11 0 15 11 15 36 0 33 2 36 25 32 25 -5 25 -5 25 71 l0 76 55 -3 c51 -4 55 -2 55 18 0 14 5 20 18 18 11 -2 16 3 14 15 -2 13 4 17 25 17 22 0 29 5 29 20 0 17 -7 20 -43 20 -36 0 -43 -3 -43 -20 0 -13 -7 -20 -20 -20 -14 0 -20 -6 -18 -17 3 -16 -6 -18 -77 -18 -71 0 -80 2 -77 18 2 11 -4 17 -18 17 -13 0 -20 7 -20 20 0 13 -7 20 -20 20 -13 0 -20 7 -20 20 0 19 7 20 120 20 102 0 119 2 114 15 -4 10 0 15 15 15 12 0 21 6 21 15 0 8 6 15 14 15 15 0 30 114 20 155 -5 22 -3 25 20 25 25 0 26 2 26 55 0 51 -2 55 -23 55 -21 0 -23 4 -21 50 l1 50 -38 0 c-35 0 -39 2 -39 26 0 25 -2 26 -35 21 -30 -5 -35 -3 -35 14 0 15 -7 19 -39 19 -25 0 -41 5 -45 15 -5 13 12 15 114 15 100 0 118 -2 114 -15 -5 -11 7 -15 58 -17 44 -2 62 -7 60 -15 -1 -9 17 -13 64 -13 66 0 66 0 60 -25 -6 -24 -4 -25 34 -25 29 0 40 -4 40 -15 0 -12 13 -15 60 -15 47 0 60 3 60 15 0 11 -12 15 -45 15 -42 0 -45 2 -45 26 0 23 -3 25 -35 20 -31 -5 -35 -3 -35 15 0 18 -5 20 -42 18 -33 -3 -42 0 -44 14 -2 15 7 17 62 17 54 0 64 3 64 18 0 15 11 17 95 17 84 0 95 2 95 18 0 15 12 17 116 17 111 0 115 1 109 20 -6 19 -2 20 74 20 74 0 81 2 81 20 0 19 7 20 365 20 357 0 365 -1 365 -20 0 -19 7 -20 195 -20 184 0 195 -1 195 -19 0 -11 9 -21 21 -24 12 -3 18 -10 14 -16 -4 -7 8 -11 34 -11 34 0 41 -3 41 -20 0 -18 7 -20 54 -20 38 0 56 4 59 15 8 19 -9 28 -39 21 -20 -5 -27 -3 -31 14 -4 16 -13 20 -44 20 -32 0 -39 3 -39 20 0 13 -7 20 -20 20 -14 0 -20 6 -18 18 3 16 -12 17 -190 17 -176 0 -192 1 -192 18 0 16 -26 17 -404 17 -377 0 -404 -1 -402 -17z m-1074 -208 c0 -8 7 -15 15 -15 9 0 15 -9 15 -25 0 -23 4 -25 45 -25 33 0 45 -4 45 -15 0 -10 11 -15 35 -15 l35 0 0 -50 c0 -43 3 -50 20 -50 15 0 20 -7 20 -25 0 -18 -5 -25 -20 -25 -19 0 -20 -7 -20 -89 0 -84 -1 -89 -20 -84 -15 4 -20 0 -20 -16 0 -12 -6 -21 -15 -21 -8 0 -15 -7 -15 -15 0 -12 -19 -15 -115 -15 -96 0 -115 3 -115 15 0 9 -9 15 -25 15 -18 0 -25 5 -25 20 0 13 -7 20 -20 20 -13 0 -20 7 -20 20 0 18 7 20 80 20 72 0 80 2 80 19 0 17 5 19 35 14 31 -5 35 -3 35 16 0 16 6 21 25 21 16 0 25 6 25 15 0 9 -9 15 -25 15 -16 0 -25 6 -25 15 0 8 -7 15 -15 15 -9 0 -15 10 -15 26 0 23 -3 25 -37 23 -31 -3 -38 0 -37 14 2 14 -7 17 -42 17 -44 0 -44 0 -44 35 0 35 0 35 45 35 35 0 43 3 39 15 -5 12 3 15 35 15 38 0 41 2 41 26 0 24 -2 26 -34 20 -34 -7 -53 4 -41 24 10 17 75 12 75 -5z m-110 -207 c0 -5 4 -6 10 -3 5 3 7 0 4 -8 -3 -8 2 -17 12 -21 12 -5 15 -2 10 10 -6 15 -4 15 11 3 10 -8 25 -21 33 -29 14 -14 14 -14 5 0 -9 13 -8 13 8 1 29 -23 21 -48 -18 -55 -21 -4 -35 -13 -35 -21 0 -12 -17 -15 -81 -15 -47 0 -78 -4 -74 -9 3 -5 2 -12 -3 -15 -10 -6 -10 -2 -12 73 -2 51 11 78 32 65 4 -3 8 4 8 15 0 11 8 21 18 23 27 5 72 -3 72 -14z m157 -470 c1 -30 1 -31 -6 -8 -7 21 -5 40 2 40 2 0 3 -15 4 -32z m6 -69 c-4 -16 -8 -17 -14 -7 -5 7 -4 14 1 16 6 2 7 9 4 14 -4 6 -2 8 4 5 5 -4 8 -16 5 -28z m2557 -359 c0 -13 7 -20 20 -20 13 0 20 -7 20 -20 0 -20 -5 -21 -132 -20 -117 2 -133 0 -130 -14 3 -14 -13 -16 -123 -16 -112 0 -125 2 -125 18 0 16 -21 17 -305 17 -284 0 -305 -1 -305 -17 0 -14 -8 -18 -35 -18 -24 0 -35 -5 -35 -15 0 -12 -13 -15 -60 -15 -54 0 -60 -2 -60 -21 0 -19 5 -20 63 -17 47 2 62 7 62 18 0 11 14 16 53 18 37 2 52 7 52 18 0 12 41 14 270 14 233 0 270 -2 270 -15 0 -13 24 -15 155 -15 131 0 155 2 155 15 0 12 19 15 115 15 96 0 115 -3 115 -15 0 -17 -19 -19 -121 -15 -60 2 -67 0 -72 -20 -5 -20 -11 -21 -99 -19 -89 1 -93 1 -91 -20 3 -20 -2 -21 -76 -21 -72 0 -80 2 -83 20 -3 20 -10 21 -211 23 l-207 2 0 -22 c0 -21 -4 -23 -60 -23 -47 0 -60 -3 -60 -15 0 -13 -36 -15 -265 -15 -258 0 -265 -1 -265 -20 0 -18 -7 -20 -60 -20 -47 0 -60 -3 -60 -15 0 -13 -51 -15 -400 -15 -349 0 -400 2 -400 15 0 8 -9 15 -20 15 -13 0 -20 7 -20 20 0 16 7 20 35 20 28 0 35 -4 35 -20 0 -19 7 -20 115 -20 108 0 115 1 115 20 0 18 7 20 80 20 71 0 81 -2 78 -17 -3 -16 10 -18 130 -21 129 -3 132 -2 132 19 0 19 4 21 60 17 52 -3 60 -1 60 15 0 16 17 17 210 17 203 0 210 1 210 20 0 11 -6 20 -12 21 -7 0 -110 0 -228 0 -209 -1 -215 -1 -213 -21 2 -17 -3 -20 -42 -20 -42 0 -45 2 -45 26 0 23 3 25 25 20 21 -5 25 -3 25 14 0 20 4 21 190 18 175 -3 190 -2 190 15 0 14 9 17 55 17 46 0 55 3 55 18 0 15 8 18 43 18 35 -1 41 2 39 17 -2 14 5 17 39 17 36 0 41 2 36 20 -5 20 0 20 554 20 552 0 559 0 559 -20z m-2577 -139 c-4 -15 0 -18 21 -14 24 5 26 3 26 -35 0 -32 -4 -41 -21 -45 -15 -4 -23 0 -26 14 -3 10 -11 19 -18 19 -8 0 -14 16 -17 40 -3 36 -1 40 18 40 17 0 21 -5 17 -19z m2547 -36 c0 -20 -5 -25 -24 -25 -21 0 -25 -6 -28 -32 -3 -30 -6 -33 -38 -34 -27 0 -34 -4 -32 -17 2 -11 -4 -17 -18 -17 -17 0 -20 -6 -20 -40 l0 -40 -46 0 c-37 0 -45 -3 -40 -15 4 -12 -3 -15 -34 -15 -34 0 -40 -3 -40 -21 0 -15 -5 -19 -15 -15 -10 4 -15 -1 -15 -15 0 -18 -5 -20 -42 -18 -35 3 -43 0 -42 -14 1 -13 -7 -17 -38 -17 -35 0 -39 -2 -36 -22 3 -20 -1 -23 -34 -21 -37 1 -38 0 -38 -33 l0 -34 -60 0 c-47 0 -60 -3 -60 -15 0 -12 -15 -15 -76 -15 -67 0 -76 -2 -81 -20 -5 -20 -14 -20 -344 -20 -336 0 -339 0 -339 21 0 19 -5 20 -95 17 -85 -3 -95 -1 -95 15 0 14 -9 17 -45 17 -38 0 -45 3 -43 18 2 11 -3 16 -14 14 -12 -2 -18 4 -18 16 0 16 -7 19 -37 18 -34 -1 -38 1 -35 22 3 21 0 22 -57 22 -48 0 -60 3 -63 17 -2 12 -13 17 -38 17 -24 1 -35 6 -35 16 0 11 -10 14 -39 13 -31 -2 -39 1 -43 17 -3 11 -14 20 -24 20 -11 0 -19 7 -19 15 0 8 -7 15 -15 15 -9 0 -15 9 -15 25 l0 26 323 -1 c285 -1 322 1 319 15 -2 12 9 15 62 15 54 0 64 3 60 15 -5 13 29 15 270 15 273 0 276 0 276 21 0 18 5 20 53 18 44 -2 52 0 49 14 -3 15 14 17 173 17 146 0 175 -2 175 -14 0 -12 23 -15 115 -18 104 -3 115 -1 115 15 0 15 11 17 95 17 95 0 95 0 95 25 0 23 4 25 45 25 41 0 45 -2 45 -25z m-1812 -41 c-2 -12 -19 -16 -81 -17 -67 -2 -77 0 -77 16 0 15 11 17 81 17 68 0 80 -2 77 -16z"
          ></path>
          <path d="M2103 1013 c15 -2 39 -2 55 0 15 2 2 4 -28 4 -30 0 -43 -2 -27 -4z"></path>
          <path d="M2213 1013 c15 -2 39 -2 55 0 15 2 2 4 -28 4 -30 0 -43 -2 -27 -4z"></path>
          <path d="M2673 1013 c9 -2 25 -2 35 0 9 3 1 5 -18 5 -19 0 -27 -2 -17 -5z"></path>
          <path d="M1493 943 c37 -2 97 -2 135 0 37 2 6 3 -68 3 -74 0 -105 -1 -67 -3z"></path>
          <path d="M1370 924 l-35 -13 42 0 c34 -1 41 2 37 14 -4 8 -7 14 -8 14 0 -1 -17 -7 -36 -15z"></path>
          <path d="M1175 880 c-46 -8 -45 -10 8 -15 26 -2 37 1 37 11 0 8 -1 13 -2 13 -2 -1 -21 -5 -43 -9z"></path>
          <path d="M766 870 c8 -7 214 -9 214 -1 0 4 -49 6 -109 6 -61 0 -107 -2 -105 -5z"></path>
          <path d="M996 871 c3 -3 34 -6 70 -7 35 0 62 2 58 5 -3 3 -34 6 -70 7 -35 0 -61 -2 -58 -5z"></path>
          <path
            d="M1500 2480 c0 -15 -7 -20 -26 -20 -18 0 -25 -5 -22 -17 4 -24 48 -25 48 -1 0 11 7 18 20 18 13 0 20 7 20 20 0 13 -7 20 -20 20 -13 0 -20 -7 -20 -20z"
          ></path>
          <path d="M1380 2445 c0 -9 9 -15 25 -15 28 0 34 15 9 24 -25 10 -34 7 -34 -9z"></path>
          <path d="M1537 2446 c-3 -8 2 -16 13 -19 21 -5 30 0 30 20 0 17 -36 17 -43 -1z"></path>
          <path
            d="M2222 2443 c2 -14 -4 -17 -34 -14 -33 2 -38 0 -38 -18 0 -19 -6 -21 -60 -21 -47 0 -60 -3 -60 -15 0 -10 -11 -15 -35 -15 -27 0 -35 -4 -35 -18 0 -16 -10 -17 -94 -14 l-94 3 -4 -40 c-3 -34 -1 -41 14 -41 10 0 18 7 18 15 0 12 17 15 95 15 95 0 95 0 95 25 0 23 4 25 45 25 33 0 45 4 45 15 0 12 13 15 55 15 47 0 55 3 53 17 -3 14 4 17 40 14 37 -2 42 0 42 19 0 18 5 21 38 18 30 -2 36 -7 34 -21 -3 -17 3 -19 60 -16 55 3 63 2 60 -14 -2 -11 4 -17 18 -17 11 0 20 -7 20 -15 0 -10 11 -15 35 -15 31 0 35 -3 35 -25 l0 -25 -150 0 c-124 0 -150 -2 -150 -14 0 -10 -14 -16 -42 -18 -30 -2 -43 -8 -43 -18 0 -10 -11 -15 -35 -15 -26 -1 -35 -5 -34 -18 1 -10 -5 -17 -17 -17 -16 0 -19 -7 -19 -41 0 -39 -2 -41 -25 -37 l-25 5 0 -108 0 -109 25 0 c21 0 25 -5 25 -29 0 -19 6 -30 18 -33 15 -4 17 -13 14 -42 -4 -31 -1 -36 17 -36 12 0 21 -6 21 -14 0 -21 54 -26 248 -22 162 3 172 2 172 -15 0 -12 -7 -19 -20 -19 -13 0 -18 -5 -14 -15 5 -12 -5 -15 -60 -15 -58 0 -66 -2 -64 -17 3 -16 -8 -18 -112 -18 -104 0 -115 2 -112 18 2 14 -5 17 -38 17 -29 0 -40 4 -40 15 0 8 -6 15 -14 15 -7 0 -16 9 -19 19 -3 14 -11 18 -26 14 -16 -4 -21 -1 -21 16 0 14 -6 21 -20 21 -16 0 -20 -7 -20 -36 0 -31 3 -36 20 -31 15 4 20 0 20 -14 0 -14 7 -19 25 -19 17 0 25 -5 25 -18 0 -15 7 -18 35 -16 31 3 35 1 35 -21 l0 -25 155 0 155 0 0 25 c0 24 2 25 55 22 45 -2 55 1 55 14 0 9 8 19 18 22 16 4 18 12 15 51 -4 44 -3 46 21 46 18 0 25 6 28 23 2 15 9 21 21 19 11 -2 17 4 17 18 0 12 7 20 18 20 15 0 17 16 20 175 4 172 3 175 -17 175 -15 0 -21 6 -21 21 0 16 -4 19 -20 14 -19 -6 -20 -2 -20 55 0 53 -2 61 -16 56 -9 -3 -20 -6 -25 -6 -6 0 -8 -4 -4 -9 3 -5 1 -12 -4 -16 -9 -5 -9 3 1 45 2 9 -5 16 -17 16 -11 1 -28 2 -37 3 -10 1 -18 8 -18 16 0 8 -7 15 -15 15 -8 0 -15 8 -15 18 0 15 -9 18 -60 17 -51 0 -60 3 -60 18 0 15 -11 17 -80 17 -71 0 -81 -2 -78 -17z m405 -165 c2 -18 0 -20 -7 -8 -8 13 -10 12 -10 -2 0 -11 -8 -18 -20 -18 -11 0 -20 7 -20 15 0 8 9 15 19 15 11 0 23 5 26 10 9 14 11 13 12 -12z m-89 -45 c-2 -15 4 -17 36 -14 35 2 38 1 33 -18 -4 -18 -1 -21 25 -21 23 0 29 -4 24 -15 -4 -10 1 -15 14 -15 19 0 20 -7 20 -145 0 -141 -1 -145 -21 -145 -15 0 -19 -5 -15 -15 4 -11 -2 -15 -25 -15 -26 0 -29 -3 -24 -20 6 -18 2 -20 -35 -20 -37 0 -41 -2 -35 -20 6 -19 2 -20 -175 -20 -177 0 -181 1 -175 20 5 16 2 20 -14 20 -17 0 -21 6 -21 35 0 29 -4 35 -21 35 -17 0 -20 5 -17 33 2 25 -1 32 -15 31 -15 -2 -17 8 -17 72 0 64 2 74 18 74 14 0 17 7 14 40 -4 35 -2 40 17 40 12 0 21 6 21 15 0 10 11 15 35 15 29 0 35 4 35 21 0 18 5 20 43 18 35 -3 42 0 39 14 -3 15 10 17 118 17 109 0 121 -2 118 -17z"
          ></path>
          <path
            d="M2306 2125 c6 -24 4 -25 -41 -25 -38 0 -46 -3 -41 -15 4 -10 -1 -15 -14 -15 -11 0 -20 -7 -20 -15 0 -8 -9 -15 -20 -15 -14 0 -20 -7 -20 -21 0 -15 4 -19 16 -15 11 4 18 -1 21 -14 3 -11 12 -20 19 -20 8 0 14 -9 14 -20 0 -17 7 -20 45 -20 38 0 45 -3 43 -17 -3 -16 7 -18 75 -21 73 -3 77 -2 77 18 0 19 5 21 38 18 33 -2 37 -1 34 20 -2 17 2 22 17 22 14 0 21 6 21 19 0 14 5 18 20 14 16 -4 20 0 20 17 0 17 -4 21 -20 17 -15 -4 -20 0 -20 14 0 13 -7 19 -21 19 -15 0 -19 5 -15 15 4 12 -3 15 -34 15 -36 0 -40 3 -40 25 0 25 -1 25 -80 25 l-80 0 6 -25z m78 -17 c-3 -4 0 -8 5 -8 6 0 11 5 11 10 0 6 5 10 11 10 6 0 9 -10 7 -23 -4 -22 -1 -24 39 -23 37 1 43 -2 43 -19 0 -16 2 -17 10 -5 7 12 11 10 18 -10 11 -29 7 -40 -14 -40 -8 0 -14 -7 -14 -15 0 -9 -9 -15 -25 -15 -14 0 -25 -5 -25 -11 0 -5 5 -7 12 -3 7 5 8 3 3 -6 -6 -10 -11 -10 -20 3 -7 10 -16 17 -20 17 -5 0 -5 -3 -2 -6 3 -4 2 -15 -4 -25 -12 -23 -61 -25 -79 -4 -7 8 -16 12 -21 9 -5 -3 -12 2 -15 10 -3 9 -12 16 -19 16 -7 0 -15 9 -18 19 -3 14 -11 18 -25 15 -12 -4 -22 0 -26 12 -7 19 8 34 37 34 9 0 17 5 17 10 0 6 8 10 18 10 10 0 24 6 31 13 11 10 13 10 7 0 -4 -7 -2 -13 3 -13 6 0 11 9 11 20 0 14 5 18 17 13 10 -4 14 -2 10 4 -3 5 0 10 8 10 8 0 12 -4 9 -9z"
          ></path>
          <path d="M2244 1853 c11 -12 56 -14 56 -3 0 5 -14 10 -32 10 -17 0 -28 -3 -24 -7z"></path>
          <path d="M2500 1850 c0 -5 6 -10 14 -10 8 0 18 5 21 10 3 6 -3 10 -14 10 -12 0 -21 -4 -21 -10z"></path>
          <path d="M2363 1813 c26 -2 67 -2 90 0 23 2 2 3 -48 3 -49 0 -68 -1 -42 -3z"></path>
          <path d="M1230 2408 c0 -10 7 -18 15 -18 8 0 15 8 15 18 0 10 -7 19 -15 19 -8 0 -15 -9 -15 -19z"></path>
          <path d="M1694 2419 c-10 -17 13 -36 27 -22 12 12 4 33 -11 33 -5 0 -12 -5 -16 -11z"></path>
          <path d="M1070 2317 c0 -42 1 -44 25 -39 18 3 25 11 25 28 0 18 6 24 21 24 39 0 13 25 -29 28 l-42 3 0 -44z"
          ></path>
          <path d="M1457 2353 c-13 -12 -7 -21 18 -25 19 -4 25 -1 25 13 0 19 -29 27 -43 12z"></path>
          <path d="M2310 2318 c0 -5 18 -8 40 -8 22 0 40 2 40 4 0 2 -18 6 -40 8 -22 2 -40 0 -40 -4z"></path>
          <path d="M946 2265 c-4 -12 4 -15 44 -15 40 0 48 3 44 15 -4 10 -20 15 -44 15 -24 0 -40 -5 -44 -15z"></path>
          <path
            d="M1120 2270 c0 -5 0 -13 0 -17 0 -5 7 -8 15 -8 8 0 15 3 15 8 0 4 0 12 0 17 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"
          ></path>
          <path d="M1697 2273 c-14 -13 -6 -23 19 -23 22 0 25 2 14 15 -14 16 -23 19 -33 8z"></path>
          <path d="M1120 2205 c0 -18 5 -25 19 -25 14 0 17 6 13 25 -2 14 -11 25 -18 25 -8 0 -14 -10 -14 -25z"></path>
          <path d="M730 2165 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
          <path d="M1350 2165 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
          <path d="M1730 2165 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
          <path d="M2802 2088 c1 -95 5 -83 10 30 2 34 0 62 -4 62 -5 0 -7 -42 -6 -92z"></path>
          <path d="M1803 2110 c-1 -32 3 -40 17 -40 13 0 16 8 15 38 -4 54 -31 56 -32 2z"></path>
          <path
            d="M628 2093 c23 -9 12 -23 -18 -23 -28 0 -30 -3 -30 -35 0 -24 5 -35 15 -35 8 0 15 9 15 20 0 13 7 20 20 20 16 0 20 7 20 30 0 22 -5 30 -17 29 -11 0 -13 -3 -5 -6z"
          ></path>
          <path d="M960 2085 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
          <path
            d="M1890 2065 c0 -25 4 -33 14 -29 8 3 16 -3 19 -15 3 -12 12 -21 21 -21 12 0 16 10 16 35 0 32 -2 35 -30 35 -30 0 -41 14 -17 23 7 3 5 6 -5 6 -14 1 -18 -7 -18 -34z"
          ></path>
          <path d="M2753 2045 c0 -27 2 -38 4 -22 2 15 2 37 0 50 -2 12 -4 0 -4 -28z"></path>
          <path d="M1460 2057 c0 -7 9 -13 20 -13 11 0 20 6 20 13 0 7 -9 13 -20 13 -11 0 -20 -6 -20 -13z"></path>
          <path d="M1803 2025 c-3 -9 -3 -18 0 -22 10 -10 37 6 37 22 0 20 -29 20 -37 0z"></path>
          <path d="M623 2003 c-21 -8 -15 -33 7 -33 13 0 20 7 20 20 0 20 -5 23 -27 13z"></path>
          <path d="M967 2003 c-14 -13 -6 -33 13 -33 13 0 20 7 20 20 0 19 -20 27 -33 13z"></path>
          <path d="M1890 1985 c0 -18 4 -23 15 -19 8 4 15 12 15 19 0 7 -7 15 -15 19 -11 4 -15 -1 -15 -19z"></path>
          <path
            d="M930 1935 c0 -45 0 -45 35 -45 29 0 35 4 35 20 0 14 -6 20 -17 18 -12 -2 -19 4 -21 19 -2 12 -10 24 -18 27 -11 4 -14 -5 -14 -39z"
          ></path>
          <path d="M620 1922 c0 -19 5 -29 15 -29 10 0 15 10 15 29 0 18 -5 28 -15 28 -10 0 -15 -10 -15 -28z"></path>
          <path d="M1610 1910 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"></path>
          <path d="M783 1893 c-21 -7 -15 -33 7 -33 11 0 20 6 20 14 0 18 -11 25 -27 19z"></path>
          <path
            d="M2778 1892 c-27 -5 -25 -62 2 -62 13 0 20 -7 20 -20 0 -14 -7 -20 -21 -20 -18 0 -20 -5 -18 -52 3 -48 1 -53 -18 -56 -27 -4 -20 -32 7 -32 12 0 17 -6 15 -17 -1 -10 -9 -17 -19 -15 -13 2 -16 -7 -16 -58 0 -47 3 -60 15 -60 10 0 15 11 15 35 0 29 4 35 21 35 20 0 21 4 17 90 l-3 90 25 0 c24 0 25 2 22 55 -3 45 -7 55 -22 55 -10 0 -20 8 -22 18 -2 11 -10 16 -20 14z"
          ></path>
          <path d="M540 1875 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
          <path d="M972 1850 c-11 -18 -10 -20 8 -20 13 0 20 7 20 20 0 11 -3 20 -8 20 -4 0 -13 -9 -20 -20z"></path>
          <path
            d="M1800 1845 c0 -8 9 -15 20 -15 13 0 20 -7 20 -20 0 -15 7 -20 25 -20 22 0 25 4 25 35 0 35 0 35 -45 35 -33 0 -45 -4 -45 -15z"
          ></path>
          <path d="M552 1813 c5 -25 28 -28 28 -4 0 12 -6 21 -16 21 -9 0 -14 -7 -12 -17z"></path>
          <path d="M1800 1774 c0 -17 6 -24 20 -24 13 0 20 7 20 19 0 10 -9 21 -20 24 -16 4 -20 0 -20 -19z"></path>
          <path d="M920 1770 c0 -13 7 -20 20 -20 13 0 20 7 20 20 0 13 -7 20 -20 20 -13 0 -20 -7 -20 -20z"></path>
          <path
            d="M1960 1740 c0 -27 4 -50 8 -50 4 0 6 16 4 35 -3 21 0 35 7 35 6 0 11 7 11 15 0 8 -7 15 -15 15 -11 0 -15 -12 -15 -50z"
          ></path>
          <path d="M2673 1745 c-8 -19 -8 -25 1 -25 6 0 13 11 14 25 2 31 0 31 -15 0z"></path>
          <path d="M1890 1735 c0 -8 7 -15 15 -15 8 0 15 7 15 15 0 8 -7 15 -15 15 -8 0 -15 -7 -15 -15z"></path>
          <path d="M1800 1705 c0 -18 5 -25 20 -25 21 0 24 8 14 34 -10 25 -34 19 -34 -9z"></path>
          <path d="M1363 1713 c-18 -7 -16 -23 2 -23 8 0 15 7 15 15 0 8 -1 15 -2 14 -2 0 -9 -3 -15 -6z"></path>
          <path d="M1646 1665 c4 -8 12 -15 20 -15 8 0 14 7 14 15 0 8 -9 15 -20 15 -13 0 -18 -5 -14 -15z"></path>
          <path
            d="M1690 1665 c0 -8 8 -15 19 -15 11 0 21 -9 24 -21 8 -31 31 -18 35 19 3 31 2 32 -37 32 -30 0 -41 -4 -41 -15z"
          ></path>
          <path d="M496 1610 c-8 -17 2 -35 22 -38 17 -3 22 1 22 20 0 17 -6 24 -21 24 -11 0 -22 -3 -23 -6z"></path>
          <path d="M1693 1595 c0 -18 5 -25 18 -25 14 0 19 7 19 25 0 18 -5 25 -19 25 -13 0 -18 -7 -18 -25z"></path>
          <path d="M2616 1613 c-14 -15 -5 -43 14 -43 13 0 20 7 20 19 0 19 -23 35 -34 24z"></path>
          <path d="M2827 1600 c-3 -11 -1 -23 4 -26 5 -3 9 6 9 20 0 31 -6 34 -13 6z"></path>
          <path
            d="M1460 1553 c0 -15 2 -16 10 -3 9 13 11 13 20 0 8 -13 10 -12 10 3 0 10 -8 17 -20 17 -12 0 -20 -7 -20 -17z"
          ></path>
          <path
            d="M1890 1534 c0 -28 3 -35 15 -30 10 4 15 -1 15 -14 0 -13 7 -20 20 -20 16 0 20 7 20 35 0 32 -2 35 -30 35 -30 0 -41 14 -17 23 7 3 5 6 -5 6 -14 1 -18 -7 -18 -35z"
          ></path>
          <path d="M1697 1527 c3 -13 11 -24 19 -24 8 0 14 10 14 24 0 16 -6 23 -19 23 -14 0 -17 -6 -14 -23z"></path>
          <path d="M580 1520 c0 -15 5 -20 18 -18 9 2 17 10 17 18 0 8 -8 16 -17 18 -13 2 -18 -3 -18 -18z"></path>
          <path
            d="M2190 1490 c0 -11 7 -20 15 -20 8 0 15 -7 15 -15 0 -8 -7 -15 -15 -15 -9 0 -15 -9 -15 -25 0 -16 6 -25 15 -25 9 0 15 9 15 25 0 20 5 25 26 25 22 0 25 4 22 31 -3 28 -7 32 -40 35 -32 3 -38 0 -38 -16z"
          ></path>
          <path d="M2535 1500 c-8 -14 3 -30 21 -30 8 0 14 9 14 20 0 21 -24 28 -35 10z"></path>
          <path d="M1887 1459 c-4 -15 0 -19 19 -19 16 0 22 4 18 14 -9 23 -32 26 -37 5z"></path>
          <path d="M428 1458 c9 -9 15 -9 24 0 9 9 7 12 -12 12 -19 0 -21 -3 -12 -12z"></path>
          <path d="M1260 1461 c0 -5 11 -8 25 -7 33 1 33 16 0 16 -14 0 -25 -4 -25 -9z"></path>
          <path d="M2610 1455 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
          <path d="M2760 1436 c0 -20 6 -36 14 -39 20 -8 26 2 26 40 0 26 -4 33 -20 33 -16 0 -20 -7 -20 -34z"></path>
          <path d="M390 1420 c0 -11 4 -20 8 -20 4 0 8 9 9 20 1 11 -2 20 -8 20 -5 0 -9 -9 -9 -20z"></path>
          <path
            d="M420 1400 l0 -40 41 0 c33 0 40 3 37 18 -2 10 -11 16 -21 14 -12 -2 -17 4 -17 23 0 18 -5 25 -20 25 -17 0 -20 -7 -20 -40z"
          ></path>
          <path d="M490 1433 c1 -35 51 -48 56 -15 3 19 -1 22 -26 22 -17 0 -30 -3 -30 -7z"></path>
          <path d="M560 1420 c0 -11 5 -20 10 -20 6 0 10 9 10 20 0 11 -4 20 -10 20 -5 0 -10 -9 -10 -20z"></path>
          <path
            d="M1260 1400 l0 -40 46 0 c38 0 45 3 42 18 -2 9 -11 16 -21 16 -12 -1 -17 6 -17 22 0 19 -5 24 -25 24 -22 0 -25 -4 -25 -40z"
          ></path>
          <path d="M1770 1419 c0 -18 2 -19 15 -5 8 8 15 17 15 20 0 3 -7 6 -15 6 -9 0 -15 -9 -15 -21z"></path>
          <path d="M2419 1438 c-9 -30 -5 -38 17 -38 17 0 24 6 24 20 0 13 -7 20 -20 20 -11 0 -20 -1 -21 -2z"></path>
          <path d="M1890 1410 c0 -13 5 -18 15 -14 8 4 15 10 15 14 0 4 -7 10 -15 14 -10 4 -15 -1 -15 -14z"></path>
          <path d="M1420 1379 c0 -13 7 -19 21 -19 14 0 19 5 17 17 -4 24 -38 26 -38 2z"></path>
          <path d="M2190 1370 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"></path>
          <path d="M810 1347 c0 -8 7 -14 15 -14 8 0 15 6 15 14 0 7 -7 13 -15 13 -8 0 -15 -6 -15 -13z"></path>
          <path d="M350 1275 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
          <path d="M540 1250 c0 -5 9 -10 20 -10 11 0 20 5 20 10 0 6 -9 10 -20 10 -11 0 -20 -4 -20 -10z"></path>
          <path d="M540 1200 c0 -13 7 -20 20 -20 13 0 20 7 20 20 0 13 -7 20 -20 20 -13 0 -20 -7 -20 -20z"></path>
          <path d="M614 1209 c-9 -15 11 -33 30 -26 9 4 13 13 10 22 -7 17 -30 20 -40 4z"></path>
          <path d="M670 1206 c0 -8 5 -18 10 -21 6 -3 10 1 10 9 0 8 -4 18 -10 21 -5 3 -10 -1 -10 -9z"></path>
          <path d="M490 1202 c0 -14 11 -21 26 -15 21 8 17 23 -6 23 -11 0 -20 -4 -20 -8z"></path>
          <path d="M580 1165 c0 -8 9 -15 20 -15 11 0 20 7 20 15 0 8 -9 15 -20 15 -11 0 -20 -7 -20 -15z"></path>
        </g>
      </svg>
      <span class="text-xl font-bold sm:text-2xl">PhilDL</span>
    </a>
    <nav
      id="navigation-menu"
      class="sm:divide absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
      aria-label="Main menu"
    >
      {
        menuLinks.map((link) => (
          <a
            href={link.path}
            class="px-4 py-4 sm:py-0 sm:hover:underline"
            aria-current={url.pathname === link.path ? "page" : false}
            rel="prefetch"
          >
            {link.title}
          </a>
        ))
      }
    </nav>
  </div>
  <Search />
  <ThemeToggle />
  <button
    id="toggle-navigation-menu"
    class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
    type="button"
    aria-label="Open main menu"
    aria-expanded="false"
    aria-haspopup="menu"
  >
    <svg
      id="line-svg"
      class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
    </svg>
    <svg
      id="cross-svg"
      class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
      class="text-accent"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</header>
